/* Normalizing CSS by Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Parent element setup - Project wide */
html {
  font-family: Helvetica, sans-serif;
  font-weight: 400; /* normal */
  font-size: 16px;
}

.outer_body {
  background-color: #e7e7e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: #0084ff;
  display: flex;
  justify-content: center;
}

.navbar__button {
  width: 110px;
  text-align: center;
  padding: 5px 10px;
  margin: 10px 20px;
  border: solid 1px;
  border-radius: 5px;
  background-color: #ffffff;
}

.header,
.main,
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer {
  align-items: center;
}

.sso__button {
  width: 100%;
  background-color: #ffffff;
  padding: 6px 0;
  border: solid #e7e7e7 1px;
  border-radius: 6px;
  box-shadow: 0 0 1.5px #e7e7e7;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sso__logo {
  padding: 0 8px 0 0;
  height: 12px;
}

.exit_btn {
  width: 24px;
  position: absolute;
  left: 225px;
  cursor: pointer;
}

.hr_bottom {
  padding: 0 0 18px 0;
  border-bottom: solid #e7e7e7 1px;
}

.statement {
  padding: 12px 0;
}

a {
  color: #0084ff;
  text-decoration: none;
  cursor: pointer;
}

input::placeholder {
  color: #969696;
}

input:focus {
  outline: none;
  padding: 6px;
  border: solid #0084ff 1.5px;
  box-shadow: 0 0 1.5px #0084ff;
}

.span_text {
  color: #585757;
}

.login_signup_link {
  padding: 0 0 6px 0;
}

.error {
  font-size: 12px;
  color: rgb(238, 8, 8);
  padding: 5px 0 0 12px;
}

.form {
  width: 280px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__heading {
  padding-bottom: 16px;
  font-weight: 400;
}

.form__label {
  display: block;
  padding: 16px 0 6px 0;
}

.form__item {
  width: 100%;
  color: #585757;
  border: solid #e7e7e7 1px;
  border-radius: 6px;
  padding: 6px;
}

.form__submit_btn {
  width: 100%;
  background-color: #0084ff;
  color: #ffffff;
  border-radius: 6px;
  padding: 6px 0;
  border: solid #e7e7e7 1px;
  cursor: pointer;
}

.form__fakeinput {
  position: relative;
}

.form__viewpw {
  height: 20px;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.form__resetpw {
  text-align: center;
  padding: 12px 0 0 0;
}
